
.container{
  display: grid;
  Grid-template-areas: "col1" "col2""col3";
  grid-template-rows:    1fr 1fr 1fr;
  grid-template-columns: repeat(3,auto);
  width: 300;
  height: auto;
  align-items: center;

  }
  body{

        background-color:#040607;

  }

  #image-grid{

        margin:6px;

  }

  .custom-col{

        padding:6px;
        overflow:hidden;

  }
header, p{
    background-color: pink;
    width:500px;
    height: auto;
    padding:10px;
    display:inline-block;
    font-family: sans-serif;
    align-items: center;
  }
  span{
    background-color: pink;
    width:85px;
    height: auto;
    padding:8px;
    display:inline-block;
    font-family: sans-serif;
    margin-left: 145px;
  }
